mixin stats(data)
  .stats
    .stats__container.container
      ul.stats__list.flex
        li.stats__item
          .stats__title 30 сек
          .stats__text чтобы установить из <br/>Google Play или AppStore
        li.stats__item
          .stats__title 5 мин
          .stats__text чтобы создать профиль <br/>и активировать игру
        li.stats__item
          .stats__title 1 час
          .stats__text чтобы заработать по <br/>инструкциям от чат-бота*
      small.stats__note *лучший результат тестирования приложения новыми игроками