mixin video(data)
  section.video
    .video__container.container
      .video__entry
        h2.video__title.title Как превратить 400р в 163 тысячи
        .video__text В приложение встроена партнерская программа, с которой вы получаете автоматические заказы на товары от других игроков и имеете источник постоянного дохода
      .video__object
