doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug
  include ../blocks/header/header.pug
  include ../blocks/footer/footer.pug

  include ../blocks/first-screen/first-screen.pug
  include ../blocks/stats/stats.pug
  include ../blocks/levels/levels.pug
  include ../blocks/income/income.pug
  include ../blocks/product/product.pug
  include ../blocks/video/video.pug
  include ../blocks/why/why.pug
  include ../blocks/payment/payment.pug
  include ../blocks/advantages/advantages.pug
  include ../blocks/faq/faq.pug
  include ../blocks/get/get.pug
  include ../blocks/popup/popup.pug


  head
    +head(head.defaults)
  body.page
    |%=symbols=%
    main.page__inner
      +header()
      +first-screen()
      +stats()
      +levels(levels)
      +income(income)
      +product()
      +video()
      +why()
      +payment()
      +advantages()
      +faq()
      +get()

    .page__bottom
      +footer()
      +popup()
      +popup-gift()
      +popup-xgame()


    script(src='%=static=%js/separate-js/lazyload.min.js' defer)
    script(src='%=static=%js/separate-js/jquery.min.js' defer)
    script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js' defer)
    script(src='%=static=%js/separate-js/slick.min.js' defer)

    script(src='%=static=%js/main%=hash=%%=min=%.js' defer)

