mixin advantages(data)
  .advantages
    .advantages__container.container
      ul.advantages__list
        li.advantages__item
          .advantages__image
            img(src="assets/images/content/advantages-1.png", alt="")
          .advantages__title Готовое решение
          .advantages__text Не нужно ничего придумывать, мы даем готовые шаблоны и показываем примеры

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/advantages-2.png", alt="")
          .advantages__title Постояный доход
          .advantages__text Встроенная партнерская программа приносит вам новые заказы 24/7

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/advantages-3.png", alt="")
          .advantages__title Поддержка игроков
          .advantages__text Вы попадаете в закрытую группу, где получаете ответы на свои вопросы




