mixin get(data)
  section.get
    .get__container.container
      h2.get__title.title Вы получаете, <span>играя в xgame</span>

      ul.get__list
        -
          var list = [
            {text: '<span> Продуктивность.</span> Даже если применить 10% знаний, которые мы упаковали в игру, вы станете продуктивней, а ваша жизнь проще'},
            {text: '<span>Быстрый доход.</span> Тестовый запуск показал, что новый игрок может заработать уже в первый час после установки приложения'},
            {text: '<span>Признание.</span> Люди благодарны вам за полезные знания и возможность заработать на этом, вас ценят и уважают'},
            {text: '<span>Спокойствие за завтра.</span> Вы имеете дополнительный источник дохода и свободные деньги как финансовую подушку безопасности'},
            {text: '<span>Свободное время.</span> У вас меньше работы и больше времени, можете заниматься спортом, писать музыку или изучать английский'}
          ]

        each item, count in list

          li.get__item.flex
            .get__icon
              img.lazy(data-src="assets/images/content/get-" + (count + 1) + ".png", alt="")
            .get__text
              != item.text

