mixin footer(data)
  footer.footer
    .footer__container.container
      a.footer__logo.logo(href="#") rvspace

      ul.footer__social.social
        li.social__item
          a.social__link(href="#") e-mail
        li.social__item
          a.social__link(href="#") vkontakte
        li.social__item
          a.social__link(href="#") instagram
        li.social__item
          a.social__link(href="#") viber
        li.social__item
          a.social__link(href="#") whatsapp

      .footer__copyright Полиграф. Copyright © 2019
      a.footer__privacy(href="#") Обработка персональных данных

