mixin header(data)
  header.header
    .header__container.container.flex
      a.header__logo.logo(href="#") rvspace
      .header__contacts
        a.header__phone.phone(href="tel:+73412223100") +7 3412 223 100
        a.header__email.email(href="mailto:sale@rvspace.ru") sale@rvspace.ru



