.header
  &__container
    padding-top: 43px
    padding-bottom: 43px
    line-height: 1


  &__contacts
    margin-left: auto
    text-align: right
    display: flex
    flex-direction: column

  // &__logo

  &__phone
    margin-left: 60px



.logo
  color: $white
  font-size: 23px
  font-weight: 500
  text-decoration: none

.phone
  color: #ffffff
  font-size: 16px
  font-weight: 700
  text-decoration: none

.email
  color: #ffffff
  font-size: 16px
  font-weight: 400
  text-decoration: none
