mixin header(data)
  header.header
    .header__container.container.flex
      a.logo.header__logo
        .logo__name Xgame
        img.logo__image.lazy(data-src="assets/images/general/logo@2x.png", alt="")
      //- picture.header__logo.logo.lazy
      //-   source( data-srcset='assets/images/general/logo@2x.webp 2x, assets/images/general/logo.webp 1x'  sizes="(max-width: 820px) 280px,
      //-       (max-width: 480px) 440px,
      //-       800px"  media='(min-width:820px)' type='image/webp')
      //-   source( data-srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo.png 1x' media='(min-width:820px)' type='image/png')
      //-   img(src='assets/images/general/logo@2x.png')