mixin product(data)
  section.product
    .product__container.container
      h2.product__title.title ТОВАР “ИДЕЯ”
      .product__text код активации + инфотовары
      .product__top.flex
        .product__image
          img.lazy(data-src="assets/images/content/product-1.png", alt="")
        .product__top-entry
          h3.product__top-title Код активации
          ul.product__list
            li.product__list-item создается в приложении
            li.product__list-item активирует игру для нового игрока
            li.product__list-item открывает 4 товара для заработка

        .product__top-entry
          h3.product__top-title Инфотовары
          ul.product__list
            li.product__list-item инструкции от чат-бота
            li.product__list-item доступ в закрытую группу игроков
            li.product__list-item полезные материалы Lite и Pro

      .product__bottom
        .product__facts.flex
          article.product__fact
            article.product__fact-top
              .product__fact-title Lite - знания, которые <br/> упрощают жизнь
              .product__fact-icon
                img.lazy(data-src="assets/images/general/fact-icon-1.png", alt="")

            .product__fact-text Например, узнаете о лучшем приложении для учета финансов, защитите соц сети от злома или научитесь обрабатывать фото как профи


          article.product__fact
            article.product__fact-top
              .product__fact-title Pro - знания, которые <br/>приносят доход
              .product__fact-icon
                img.lazy(data-src="assets/images/general/fact-icon-2.png", alt="")

            .product__fact-text Например, научитесь привлекать подписчиков и клиентов через соц сети для своего бизнеса или начнете зарабатывать на игре


        a.product__button.button.button_secondary.popup-open(href="#gift") Получить подарок