.first-screen
  position: relative
  z-index: 1
  background-color: #292422
  color: $white
  &__container
    position: relative
    z-index: 1
    padding-top: 30px
    padding-bottom: 85px
    flex-wrap: wrap
    +mq($medium)
      padding-top: 33px
      padding-bottom: 67px
      flex-wrap: nowrap

  &__entry
    // margin-right: -20px
    margin: auto
    max-width: 316px
    width: 100%
    text-align: center
    +mq($medium)
      position: relative
      margin-left: 0
      margin-right: 0
      // right: -20px
      max-width: 580px
      text-align: left

  &__title
    position: relative
    z-index: 1
    margin: auto
    color: $white
    font-family: $ak
    font-size: 33px
    font-weight: 900
    line-height: 1
    text-transform: uppercase
    text-align: center
    // +r($small)
    //   font-size: 37px
    +mq($medium)
      margin-left: 0
      margin-bottom: 22px
      max-width: 460px
      font-size: 40px
      line-height: 1.2
      text-align: left

    span
      color: #00b5f4

  &__text
    margin: auto
    margin-bottom: 32px
    max-width: 320px
    font-family: $r
    font-size: 14px
    font-weight: 400s
    line-height: 1.25
    +mq($medium)
      margin-bottom: 59px
      margin-left: 0
      font-size: 16px

  &__person
    position: relative
    top: -111px
    right: -60px
    max-width: 474px
    width: 100%
    flex-shrink: 0
    display: none
    +mq($medium)
      display: block

  // &__image

  &__image-mob
    margin-top: -20px
    margin-right: auto
    margin-left: auto
    max-width: 371px
    width: 100%
    display: block
    text-align: center
    +mq($medium)
      display: none

  // &__button
  //   margin-top: 65px

  &__stores
    margin-top: -4px

  &__stores-mob
    margin-top: 32px
    display: block
    +mq($medium)
      margin-top: 32px
      display: none

.stores
  &__store
    margin-right: 8px
    max-width: 104px
    width: 100%
    display: inline-block
    vertical-align: top
    font-size: 0
    &:last-child
      margin-right: -8px
  &__store_apple
    max-width: 101px
