.first-screen
  background-image: url('../images/general/first-screen-mob-bg.svg')
  color: $white
  // &__container
  // &__entry

  &__title
    margin-bottom: 28px
    color: $white

  &__text
    font-size: 18px
    font-weight: 500
    line-height: 1.277

  &__form
    margin-top: 30px

  // &__phones

  // &__phone

  // &__phone_first

  // &__phone_second
