mixin first-screen(data)
  .first-screen
    .first-screen__container.container.flex
      .first-screen__entry
        h1.first-screen__title.title.title_big Скачай игру <span>за 30 секунд</span> и заработай на ней уже сегодня

        picture.first-screen__image-mob
          source(type='image/webp' media='(min-width:900px)' data-srcset='assets/images/general/person@2x.webp 2x, assets/images/general/person.webp 1x')
          source(type='image/png' media='(min-width:900px)' data-srcset='assets/images/general/person@2x.png 2x, assets/images/general/person.png 1x')

          //- source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/person-mob@2x.webp 2x, assets/images/general/person-mob.webp 1x')
          //- source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/person-mob@2x.png 2x, assets/images/general/person-mob.png 1x')

          img.lazy(data-src='assets/images/general/person@2x.png' alt="")


        .first-screen__text Играйте в xGame, чтобы прокачать себя и получить источник постоянного дохода

        a.first-screen__button.button.popup-open(href="#video") Смотреть видео

        .first-screen__stores-mob.stores.flex.flex_center
          a.stores__store.stores__store_google(href="#")
            //- source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/googleplay@2x.webp 2x, assets/images/general/googleplay.webp 1x')
            //- source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/googleplay@2x.png 2x, assets/images/general/googleplay.png 1x')

            img.lazy(data-src='assets/images/general/googleplay@2x.png' alt="")

          a.stores__store.stores__store_apple(href="#")
            //- source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/appstore@2x.webp 2x, assets/images/general/appstore.webp 1x')
            //- source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/appstore@2x.png 2x, assets/images/general/appstore.png 1x')

            img.lazy(data-src='assets/images/general/appstore@2x.png' alt="")


      .first-screen__person
        picture.first-screen__image
          source(type='image/webp' media='(min-width:900px)' data-srcset='assets/images/general/person@2x.webp 2x, assets/images/general/person.webp 1x')
          source(type='image/png' media='(min-width:900px)' data-srcset='assets/images/general/person@2x.png 2x, assets/images/general/person.png 1x')

          img.lazy(data-src='assets/images/general/person@2x.png' alt="")


        .first-screen__stores.stores.flex.flex_center
          a.stores__store.stores__store_google(href="#")
            //- source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/googleplay@2x.webp 2x, assets/images/general/googleplay.webp 1x')
            //- source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/googleplay@2x.png 2x, assets/images/general/googleplay.png 1x')

            img.lazy(data-src='assets/images/general/googleplay@2x.png' alt="")

          a.stores__store.stores__store_apple(href="#")
            //- source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/appstore@2x.webp 2x, assets/images/general/appstore.webp 1x')
            //- source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/appstore@2x.png 2x, assets/images/general/appstore.png 1x')

            img.lazy(data-src='assets/images/general/appstore@2x.png' alt="")







