@font-face
  font-family: 'Roboto'
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/hinted-subset-Roboto-Bold.woff2') format('woff2'), url('../fonts/hinted-subset-Roboto-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat-Black'), url('../fonts/hinted-subset-Akrobat-Black.woff2') format('woff2'), url('../fonts/hinted-subset-Akrobat-Black.woff') format('woff')
  font-weight: 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat-SemiBold'), url('../fonts/hinted-subset-Akrobat-SemiBold.woff2') format('woff2'), url('../fonts/hinted-subset-Akrobat-SemiBold.woff') format('woff')
  font-weight: 600
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Aristotelica Display Trial'
  src: local('Aristotelica Display Trial Heavy'), local('AristotelicaDisplayTrial-Heavy'), url('../fonts/hinted-subset-AristotelicaDisplayTrial-Heavy.woff2') format('woff2'), url('../fonts/hinted-subset-AristotelicaDisplayTrial-Heavy.woff') format('woff')
  font-weight: 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/hinted-subset-Roboto-Light.woff2') format('woff2'), url('../fonts/hinted-subset-Roboto-Light.woff') format('woff')
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/hinted-subset-Roboto-Regular.woff2') format('woff2'), url('../fonts/hinted-subset-Roboto-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/hinted-subset-Roboto-Medium.woff2') format('woff2'), url('../fonts/hinted-subset-Roboto-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Aristotelica Display Trial'
  src: local('Aristotelica Display Trial Bold'), local('AristotelicaDisplayTrial-Bold'), url('../fonts/hinted-subset-AristotelicaDisplayTrial-Bold.woff2') format('woff2'), url('../fonts/hinted-subset-AristotelicaDisplayTrial-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
  font-display: swap



$r: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif
$ak: "Akrobat", Arial, "Helvetica Neue", Helvetica, sans-serif
$ar: "Aristotelica Display Trial", Arial, "Helvetica Neue", Helvetica, sans-serif
