.flex
  display: flex
.flex_start
  justify-content: flex-start
.flex_center
  justify-content: center
.flex_top
  align-items: flex-start
.flex_vertical
  align-items: center
.flex_bottom
  align-items: flex-end



.title
  font-size: 20px
  font-weight: 500
  line-height: 1.4



.button
  +resetbutton()
  padding-top: 16px
  padding-right: 44px
  padding-bottom: 16px
  padding-left: 44px
  background-color: #00b5f4
  color: $white
  font-family: $ak
  font-size: 28px
  font-weight: 900
  line-height: 1
  text-decoration: none
  text-transform: uppercase
  +tr(background-color .3s ease)

  &:hover
    background-color: darken(#00b5f4, 10)
    +tr(background-color .3s ease)




.wysiwyg
  h2
  font-size: 24px
  line-height: 1.333
  +mq($small)
    font-size: 48px
    line-height: 1.166

  p
    margin-bottom: 16px
    font-size: 14px
    line-height: 1.428
    &:last-of-type
      margin-bottom: 24px
    +mq($small)
      margin-bottom: 40px
      font-size: 18px

  i
    font-size: 14px
    line-height: 1.428
    font-style: italic

    +mq($small)
      font-size: 24px
      line-height: 1.333